.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 20rem;
}

.table_container {
  overflow: auto;
  width: 85%;
}

.table_container th {
  position: sticky;
  top: 0;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background-color: #b8b8b8;
}

.table_container td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  max-width: 10rem;
  word-wrap: break-word;
}
