.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.table_container {
  overflow: auto;
  width: 80%;
}

.table_container td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
