.th {
    position: sticky;
    top: 0;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: #b8b8b8;
    z-index: 1;
}

.table_container {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 80%;
}

.table_container td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  max-width: 9rem;
  word-wrap: break-word;
  background-color: #ededed;
}

.actionCell {
  position: sticky;
  right: 0;
  text-align: center;
}

.table_container td button {
  height: 2rem;
  width: 4rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 2px;
  font-weight: bold;
}

.table_container td button:hover {
  opacity: 0.8;
}

.editButton {
  background-color: #61DD41;
}

.deleteButton {
  background-color: #FF4A4A;
}