.th {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #b8b8b8;
}

.tr:nth-child(even), .tr:nth-child(even) .rowNumberCell, .tr:nth-child(even) .actionCell {
  background-color: #e8e8e8;
}

.table_container {
  height: 100%;
  width: 80%;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px #ccced1;
}

.scroll_container {
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll_container td {
  padding: 10px;
  max-width: 9rem;
  word-wrap: break-word;
}

.actionCell {
  position: sticky;
  right: 0;
  text-align: center;
  z-index: 1;
  background-color: white;
}

.actionCellHeader {
  background-color: #b8b8b8;
  position: sticky;
  right: 0;
  z-index: 1;
}

.rowNumberCell {
  position: sticky;
  left: 0;
  text-align: center;
  z-index: 1;
  background-color: white;
}

.rowNumberCellHeader {
  background-color: #b8b8b8;
  position: sticky;
  left: 0;
  z-index: 1;
}

.scroll_container td button {
  height: 2rem;
  width: 4rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 2px;
  font-weight: bold;
  border: none;
}

.scroll_container td button:hover {
  opacity: 0.8;
}

.editButton {
  background-color: #61DD41;
}

.deleteButton {
  background-color: #FF4A4A;
}